
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Bootply snippet - Bootstrap </title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap  example snippet for Bootstrap." />
    <link href="assets/temp/bootstrap.min.css" rel="stylesheet">
    <link href="assets/temp/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/temp/main.css" rel="stylesheet">
  </head>
  <body class="page-id-2464">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="row">
            <!-- left side -->
            <div class="span6">
              <div class="generators-container">

                <div class="span5 45kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>4.5 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->

                <!-- 6  kw  generator -->
                <div class="span5 6kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>6 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->

                <!-- 7 kw  generator -->
                <div class="span5 75kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>7.5 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->

                <!-- 9 kw  generator -->
                <div class="span5 9kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>9 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->

                <!-- 10.5 kw  generator -->
                <div class="span5 10kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>10.5 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->

                <!-- 12 kw  generator -->
                <div class="span5 12kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>12 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->

                <!-- 15 kw  generator -->
                <div class="span5 15kw-quick-start-unit">
                  <img src="http://www.steamspa.spaworld.com/wp-content/uploads/2016/05/steam-spa-steam-generator.jpg" alt="steam generator">
                  <h4>15 kw quickstart unit</h4>
                  <ul>
                    <li>continuous steam</li>
                    <li>whisper quiet</li>
                    <li>crafted using stainless steel</li>
                  </ul>
                </div><!--end_.span3-->
              </div>
            </div> <!-- end left side -->
            <!-- right side -->
            <div class="span6">
              <form class="form-inline" id="dimensions">
                <fieldset>
                  <legend>Dimensions</legend>
                  <label>enter the dimensions of your steam room enclosure</label><br/>
                  <input type="number" name="legnth" class="input-small" placeholder="length (ft.)" required max="8"> x
                  <input type="number" name="width" class="input-small" placeholder="width (ft.)" required max="8"> x
                  <input type="number" name="height" class="input-small" placeholder="height (ft.)" required max="5">
                </fieldset>
                <br/>
                <fieldset>
                  <p>select one. if more than one material is used, choose the option with the greatest heat loss (highest multiple).</p>
                  <legend>Adjust for Construction Material</legend>
                  <label class="radio">
                    <input type="radio" name="material" id="optionsradios1" value="1.30" checked>
                    ceramic tile(x 1.30)
                  </label><br/>
                  <label class="radio">
                    <input type="radio" name="material" id="optionsradios2" value="1.35">
                    all glass tile or glass block walls(x 1.35)
                  </label><br/>
                  <label class="radio">
                    <input type="radio" name="material" id="optionsradios3" value="1.60">
                    porcelain tile(x 1.60)
                  </label><br/>
                  <label class="radio">
                    <input type="radio" name="material" id="optionsradios4" value="2">
                    natural stone tile* up to 1/2"(x 2.00)
                  </label><br/>
                  <label class="radio">
                    <input type="radio" name="material" id="optionsradios5" value="2.25">
                    natural stone slabs over 1/2"(x 2.25)
                  </label><br/>
                </fieldset>
                <br/>
                <fieldset>
                  <legend>Adjust for outside walls</legend>
                  <label>Number of exterior walls:</label><br/>
                  <input name="walls" placeholder="(e.g. '4')" max="4" type="number" required>
                </fieldset>
                <br/>
                <button type="submit" class="btn">Submit</button>

              </form>
              <h3>Send us an inquiry below</h3>
              <h4>or call 1-800-856-0172 if you need assitance<h4>
                <!-- BURN IN HELL, WORDPRESS: [contact-form-7 id="2470" title="Sizing Inquiry"] -->

<!--               <div id="wpcf7-f2470-p2464-o1" >

               <form>
                  <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></textarea>
                </form>
              </div> -->
            </div>
          </div><!--end_.row-->
        </div><!--end .span12-->
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type='text/javascript' src="assets/temp/bootstrap.js"></script>
    <script type="text/javascript" src="assets/temp/sizing.js"></script>
    <script type="text/javascript" src="assets/temp/jqBootstrapValidation.js"></script>

  </body>
</html>
