<h1> Dashboard </h1>

<ul>
  <li><%= link_to 'Products', admin_products_path %></li>
  <li><%= link_to 'Pages',    admin_pages_path %></li>
  <li><%= link_to 'Posts',    admin_posts_path %></li>
  <li><%= link_to 'Users',    admin_users_path %></li>
</ul>
