<div id="logo-section">
  <%= link_to root_path do %>
    <%= image_tag @logo_image %>
  <% end %>
  <p>
  Toll Free: <strong><%= @sales_phone_number %></strong><br/>
  Emails Us: <strong><%= @sales_email_address %></strong>
  </p>
</div>
